body {
    background-color: cornflowerblue;
}

h1 {
    border-style: solid;
    text-align: center;
    margin: 150px;
}

p {
    background-color: darkkhaki;
    border-style: solid;
    border-radius: 25px;
    padding: 20px;
}