.nav {
    background-color:skyblue;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.footer {
    position: fixed;
    text-align: center;
    font-size: 10px;
    width: 90%;
    height: 20px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background-color: lightcoral;
}
body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section {
    background-color:violet;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10%;
    margin-right: 60%;
    padding: 10px;
}
.aside {
    background-color: khaki;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 20%;
    width: 40%;
    padding: 10px;
    text-align: center;
    position: absolute;
       
}
.article {
    background-color: lightcyan; 
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10%;
    padding: 10px;
    margin-right: 60%;
    margin-top: 10px;  
}
.rivi:after {
    content: normal;
    display: table;
    clear: both;
}
.rivi {
    float: left;
    padding: 10px;
}