* {
    box-sizing: border-box;
}
.nav {
    background-color:skyblue;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.footer {
    position: fixed;
    text-align: center;
    font-size: 10px;
    width: 90%;
    height: 20px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background-color: lightcoral;
}
.vasenrivi {
    float: left;
    width: 75%;
}
.oikearivi {
    float: right;
    width: 25%;
}
.section {
    background-color:tomato;
    padding: 20px;
    margin-top: 20px;
}
.article {
    background-color: khaki;
    pading: 20px;
    margin-top: 20px;
}
.aside {
    background-color: rgb(211, 110, 248);
    padding: 20px;
    margin-top: 20px;
}
.rivi:after {
    display: table;
    clear: both;
}
@media screen and (max-width: 800px) {
    .vasenrivi, .oikearivi {
        width: 100%;
        padding: 0;
    }
}
body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}