h1 {
    font-size: 20px;

}

p {
    font-size: 12px;
    color: green;
}

body {
    background-color: black;
    color: white;
}

div.text{
    border-style: dotted;
    border-width: 2px;
    width: 100px;
    height: 100px;
}

ol {
    list-style-type: upper-alpha;
}

ul {
    list-style-type: square;
}