th {
    border-style: solid;
    padding: 10px;
}
td {
    border-style: double;
    padding: 5px;
}
body {
    background-color:blanchedalmond;
}
caption {
    border-style: solid;
    padding: 5px;
}
table {
    text-align: center;
    padding: 2px;
}
#empty {
   border: none;
}