* {
    box-sizing: border-box;
}
#nav {
    float: left;
    background-color: grey;
    margin-right: 10px;
    padding: 10px;
    width: 30%;
    height: 650px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    padding-bottom: 10px;
}
#mainnav a:hover {
    color: red;
}
#mainnav {
    text-align: center;
    background-color: rgb(47, 47, 47);
    color: white;
    padding: 5px 0px 5px 0px;
    margin-top: -10px;
}
#mainnav a {
    color: white;
}
#header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
}
#section {
    width: 70%;
    height: 650px;
}
footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.rivi::after {
    clear: both;
    display: block;
}
body {
    width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.rivi {
    margin-top: -20px;
    background-color: rgba(128, 128, 128, 0.375);
}
