.navbar {
    border-style: solid;
    border-width: 1.5px;
 }
 h1 {
     margin: 30px;
 }
 #picture {
     text-align: center;
     margin-top: 100px;
 }
 hr {
     width: 100%;
     margin-top: 10%;
 }
 #kuva {
     text-align: center;
     margin-top: 20px;
 }
 .footer {
     position: relative;
     bottom: 0;
     width: 100%;
     line-height: 60px;
     height: 60px;
     margin-top: 100px;
 }
 .row {
     margin-top: 50px;
 }