.navbar {
    border-style: solid;
    border-width: 1.5px;
    
 }
 h1 {
     margin: 30px;
 }
 hr {
     width: 100%;
     margin-top: 10%;
 }
 footer {
     margin-top: 350px;
     
 }
.row {
    margin-top: 5px;
}