.navbar {
    border-style: solid;
    border-width: 1.5px;
    
 }
 h1 {
     margin: 30px;
 }
 #picture {
     text-align: center;
     margin-top: 100px;
 }
 hr {
     width: 100%;
     margin-top: 10%;
 }
 #kuva {
     text-align: center;
     margin-top: 20px;
 }
 footer {
     margin-top: 350px;
     bottom: 0;
 }
  
 .row {
     margin-top: 50px;
 }
button {
    display:flex;
}